@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f8ff;
  --foreground: #171717;
  --badge-text-color: white;
  --type-grass: #78c850;
  --type-poison: #955490;
  --type-fire: #e7985f;
  --type-water: #82a1ec;
  --type-electric: #f6d654;
  --type-ghost: blueviolet;
  --type-bug: #b1da6f;
  --type-normal: #bbbbbb;
  --type-fairy: #e91f9c;
  --type-ground: #c4bb57;
  --type-flying: #83e8f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  .moves-list li {
    background-color: #333;
    color: #f0f0f0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--badge-text-color);
  margin-right: 0.25rem;
  margin-top: 0.5rem;
}

.badge-grass {
  background-color: #78c850;
}

.badge-fire {
  background-color: #f08030;
}

.badge-water {
  background-color: #6890f0;
}

.badge-electric {
  background-color: #f8d030;
}

.badge-ghost {
  background-color: blueviolet;
}

.badge-bug {
  background-color: #9ce22b;
}

.badge-normal {
  background-color: #949494;
}

.badge-poison {
  background-color: #912f89;
}

.badge-fairy {
  background-color: #e91f9c;
}

.badge-ground {
  background-color: #c7bb35;
}

.badge-flying {
  background-color: #83e8f1;
}

#Poke-number {
  color: #8e8e8ecb;
  font-weight: bold;
  font-size: small;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.moves-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-left: 0; 
  list-style: none; 
}

.moves-list li {
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: #fff; /* White text */
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.moves-list li:hover {
  transform: translateY(-3px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.pokemon-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.pokemon-title {
  font-size: 3rem; 
  font-weight: bold;
  color: #FFCC00; 
  text-shadow: 
    -1px -1px 0 #3366CC,   
    1px -1px 0 #3366CC,  
    -1px 1px 0 #3366CC,  
    1px 1px 0 #3366CC; 
  letter-spacing: 1px;
}


h1 {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

h2 {
  margin-bottom: 2.5%;
}
